<%- include('partials/header'); -%>

<body>
    <div class="not-found-content">
        <h2>sorry page removed or not found :(</h2>
        <button onclick="window.location.href='/'" style="cursor: pointer;">Return home</button>
    </div>

<%- include("./partials/footer.ejs") %>